<web-app>
<servlet>
 <servlet-name>frontcontroller</servlet-name>
 <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
 <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
 <servlet-name>frontcontroller</servlet-name>
 <url-pattern>*.do</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>account.jsp</welcome-file>
</welcome-file-list>
</web-app>
